<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @band.name %>
</p>

<p>
  <strong>City:</strong>
  <%= @band.city %>
</p>

<p>
  <strong>Email:</strong>
  <%= @band.email %>
</p>

<p>
  <strong>Website:</strong>
  <%= @band.website %>
</p>

<%= link_to 'Edit', edit_band_path(@band) %> |
<%= link_to 'Back', bands_path %>
